---
title: The Village – I'm Andrew Cohen
---

%header.village
  .wrap
    .header-content
      %em Product Design / Front-End Development
      %h1 The Village
    %a{href:'/work/martialcodex', class: 'prev'}
      %i.icon-lefttwo
      Martial Codex
    %a{href:'/work/thoughtbot', class: 'next'}
      thoughtbot
      %i.icon-righttwo

.wrap
  %section.copy
    %p The Village allows users to manage, monitor, and gain insight from their children's internet usage. From the insights gained users can find ways to connect with their children on a deeper level. I led the prototyping, user testing, and design efforts.

  .image-wrap
    = image_tag 'work/village-homepage.png'
  .image-wrap
    = image_tag 'work/village-pricing.png'
  .image-wrap
    = image_tag 'work/village-metrics.png'
  .image-wrap
    = image_tag 'work/village-mvp.png'
  .image-wrap
    = image_tag 'work/village-onboarding.png'
