---
pageable: true
per_page: 50
title: Journal
---

%header.journal-header
  .color-overlay
  .wrap
    %h2 Journal
    %p Thoughts on design, cycling, life, and more

.wrap
  %section.blog-articles
    - page_articles.each do |article|
      %article.blog-post
        %span.blog-post-date
          = article.date.strftime('%b %e')
        %h3
          = link_to article do
            = article.title
        %section.blog-summary
          = article.summary
        = link_to article do
          Read More

